@model HemTenta.Models.LoanDetailsViewModel

<div id="loan-details">

    <h2>Loan Details</h2>
    <br />

    <div>

        <strong>User:</strong> @Model.User.Name @Model.User.LastName<br />
        <br />

        <strong>Book:</strong> @Model.Book.Title<br />
        <br />

        <strong>Loan Date:</strong> @Model.Loan.LoanDate<br />
        <br />

        <strong>Due Date:</strong> @Model.Loan.DueDate<br />
        <br />

    </div>

</div>